messageboxes.gui
wnd_gui.xml
xmlspeedtest.xml
gui_all_elements.xml
playground
main.cpp
gmon.out
irrExport.dae
*.layout
*.depend
*.suo
*.sdf
*.user
*.opensdf
*.ipch
*.ilk
*.exe
*.o
*.pdb
*.trace
Irrlicht.dll
Debug/
Release/
*.blend?

my_media/write_test.*
cubemap/cube_out_*
